@charset "utf-8";
/* CSS Document */

html {
	font-size: 16px;
	font-family: 'Permanent Marker', cursive;
}

.main-container {
	background-image: url("../images/collage5.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.container-on-top {
	display: flex;
	flex-direction: column; 
	
	padding: 0 3rem;
	
}

.row {
	display: inline-flex;
	justify-content: space-around;
	padding-top: 3rem;
	background-color: rgba(255,255,255,0.7);
}

.first-row {
	background-color: rgba(255,255,255,0.7);
	margin: 4rem;
	padding: 0.5rem;
	border-radius: 0.5rem;	
}
.first-row h1 {
	font-size: 4rem;
	margin-bottom: 0.5rem;
}

.window h1 {
	visibility: hidden;
}

.window {
	background-image: url("../images/lucka.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 20rem;
	padding: 3rem;
}

.window:hover {
	background: url("../images/lucka.jpg");
	background: transparent;
	-webkit-transition: background 5s;
    -moz-transition: background 5s;
    -o-transition: background 5s;
    transition: background 5s;	
}

.window:hover h1 {
	visibility: visible;
}